@import './reset.scss';
@font-face {
  font-family: 'Montserrat';
  src: url('../../../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Organetto';
  src: url('../../../fonts/Organetto-UltraBoldSemiExt.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Organetto Regular';
  src: url('../../../fonts/Organetto-RegularSemiExt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: Organetto, Arial, sans-serif;
}