.contact {
  height: 32px;
  padding: 5px 15px 5px 15px;
  gap: 10px;
  border-radius: 50px;
  opacity: 0px;
  border: 1px solid #000000
}

.contact a {
  font-family: Organetto, sans-serif;
  display: flex;
  text-decoration: none;
  color: #1A1A1A;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  align-items: center;
  margin: auto;
  line-height: 23px;
}

.contact:hover{
  box-shadow: 0px 0px 30px -8px black;
}