.card {
  font-family: Montserrat, sans-serif;
  width: 345px;
  height: 472px;
  border-radius: 10px;
  background: #F0F0F0;
  margin-top: 40px;
  position:relative;
  margin-left: 20px;
  text-align: center;
}
.card span {
  font-size: 12px;
  font-family: "Organetto", sans-serif;
}

.card-image {
  width: 345px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 6px;
}

.card-description {
  position: absolute;
  bottom: 0;
  margin-top: 6px;
}

.clamp p {
  width: 305px;
  height: 59px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  word-wrap: break-word;
  overflow: hidden
}

.card-button {
  width: 338px;
  height: 55px;
  padding: 15px 20px 15px 20px;
  gap: 30px;
  border-radius: 10px;
  background: #1A1A1A;
  border: none;
  color: white;
  cursor: pointer;
}

.card-button:hover {
  background-color: #1A1A1A;
  transform: scale(1.05) translateY(-2px);
}

.btn-icon {
  margin-left: 7%;
}

@media (max-width: 768px) {
  .card {
    width: 399px;
    height: 452px;
    margin-left: 0px;
  }
  .card p {
    width: 355px;
  }
  .card-image {
    width: 399px;
    height: 300px;
  }
  .card-button {
    width: 399px;
    height: 52px;
  }

}